@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* ### Primary */

  --MarineBlue: hsl(213, 96%, 18%);
  --PurplishBlue: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);

  /* ### Neutral */

  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  /* SIZES */
  --destktopScreen: 700px;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--Magnolia);
}

.steps-header {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.step-container {
  display: flex;
  font-family: ubuntu;
}

.step-header-container {
  /* border-radius: 50%; */
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.step-id {  
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  border-radius: 50%;
  border: 1px solid var(--White);
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.active-step {
  background-color: var(--PastelBlue);
  border: 1px solid var(--PastelBlue);
}

.active-step .step-id {
  color: var(--MarineBlue);
}

.step-and-name {
  display: none;
}

@media screen and (min-width: 700px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--Magnolia);
  }

  .App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--White);
    width: 90vw;
    max-width: 900px;
    height: 66vh;
    position: relative;
    top: 100px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px var(--PastelBlue);
    padding: 10px;
  }

  .steps-header {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background: url("./images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .step-header-container {
    flex-direction: column;
    width: 80%;
  }

  .step-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .step-id {
    margin-right: 10px;
  }

  .step-and-name {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--White);
    font-size: 15px;
  }

  .step-no {
    font-weight: 100;
  }

  .step-name {
    font-weight: 600;
  }
}
 
.displays {
  width: 90%;
  max-width: 450px;
  position: absolute;
  /* background-color: red; */
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px var(--PastelBlue);
  border-radius: 10px;
}

@media screen and (min-width: 700px) {
  .displays {
    position: unset;
    /* background-color: greenyellow; */
    width: 60%;
    box-shadow: none;
  }
}

.personal-info-container {
  width: 100%;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  padding: 35px 15px 20px 15px;
  font-family: ubuntu;
  border-radius: 10px;
}

.personal-info-header {
  margin-bottom: 10px;
  color: var(--MarineBlue);
}

.info {
  font-size: 17px;
  /* letter-spacing: 0.5px; */
  line-height: 24px;
  color: var(--CoolGray);
  margin-bottom: 20px;
}

.label-and-error {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.personal-info-container label {
  color: var(--MarineBlue);
  margin-bottom: 4px;
}

.error {
  color: var(--StrawberryRed);
  /* display: none; */
}

.personal-info-container input {
  padding: 8px 12px;
  font-size: 17px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--LightGray);
  position: relative;
  overflow: visible;
}

.personal-info-container input:focus {
  outline: 1px solid var(--CoolGray);
}

.personal-info-container input::placeholder {
  color: var(--CoolGray);
  font-weight: 500;
}

.select-plan-container {
  /* position: absolute; */
  width: 100%;
  background-color: var(--White);
  /* left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 15px 20px 15px;
  font-family: ubuntu;
  border-radius: 10px;
}

.plan-head {
  color: var(--MarineBlue);
  width: 100%;
  text-align: start;
  margin-bottom: 10px;
}

.plans-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan {
  width: 100%;
  border: 1px solid var(--CoolGray);
  margin: 7px 0;
  padding: 15px;
  display: flex;
  border-radius: 9px;
  cursor: pointer;
}

.active-plan {
  border: 1px solid var(--MarineBlue);
  background-color: var(--Magnolia);
}

.plan img {
  margin-right: 15px;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-name {
  font-weight: 700;
  color: var(--MarineBlue);
  text-transform: capitalize;
}

.plan-bill {
  font-size: 14px;
  color: var(--CoolGray);
}

.bill-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  background-color: var(--Alabaster);
  width: 100%;
  padding: 10px 0;
}

.bill-options .check {
  width: 40px;
  height: 20px;
  background-color: var(--MarineBlue);
  border-radius: 20px;
  position: relative;
  margin: 0 20px;
  cursor: pointer;
}

.bill-options .check .chosen {
  width: 12px;
  height: 12px;
  background-color: var(--White);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto 0;
  transition: all 200ms ease;
}

.yearly {
  transform: translate(18px);
}

.bill {
  font-weight: 600;
  opacity: 0.3;
}

.unfade-bill {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .plans-group {
    flex-direction: row;
    justify-content: space-between;
  }

  .plan {
    width: 30%;
    height: 20vw;
    max-height: 170px;
    flex-direction: column;
    justify-content: space-between;
  }

  .plan img {
    width: 50%;
  }
}

.add-ons-container {
  /* position: absolute; */
  width: 100%;
  background-color: var(--White);
  /* left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 35px 15px 20px 15px;
  font-family: ubuntu;
  border-radius: 10px;
}

.add-on-head {
  color: var(--MarineBlue);
  margin-bottom: 10px;
}

.add-on-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--LightGray);
  border-radius: 5px;
  margin: 5px 0;
  padding: 15px 10px;
  cursor: pointer;
}

.add-on-container.selected {
  border: 1px solid var(--MarineBlue);
}

.check-and-name {
  display: flex;
  align-items: center;
}

.check-image {
  /* background-color: var(--PurplishBlue); */
  border: 1px solid var(--LightGray);
  margin-right: 14px;
  width: 22px;
  height: 22px;
  padding: 4px;
  border-radius: 5px;
}

.checked {
  background-color: var(--PurplishBlue);
}

.add-on-container input {
  accent-color: var(--PurplishBlue);
}

.addon-name {
  font-size: 15px;
  font-weight: 600;
  color: var(--MarineBlue);
}

.addon-info {
  font-size: 12px;
  color: var(--CoolGray);
}

.addon-price {
  color: var(--PurplishBlue);
  font-size: 12px;
}

.summary-container {
  width: 100%;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  padding: 35px 15px 20px 15px;
  font-family: ubuntu;
  border-radius: 10px;
}

.summary-head {
  color: var(--MarineBlue);
  margin-bottom: 10px;
}

.summary-info {
  background-color: var(--Magnolia);
  padding: 13px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.summary-plan {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chosen-plan {
  text-transform: capitalize;
  color: var(--MarineBlue);
  font-weight: 600;
  font-size: 15px;
}

.link {
  text-decoration: underline;
  color: var(--CoolGray);
  cursor: pointer;
}

.summary-plan-price {
  font-size: 14px;
  font-weight: 600;
  color: var(--MarineBlue);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--LightGray);
}

.summary-addon {
  margin-top: 10px;
}

.each-addon-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-bottom: 9px;
}

.each-addon-selected .name {
  color: var(--CoolGray);
}

.each-addon-selected .price {
  font-size: 14px;
  color: var(--MarineBlue);
  font-weight: 500;
}

.next-and-back {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  padding: 15px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.total-word {
  color: var(--CoolGray);
}

.sum-total {
  color: var(--PurplishBlue);
  font-weight: 900;
  font-size: 18px;
}

.thanks-container {
  width: 100%;
  height: 55vh;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 15px 20px 15px;
  font-family: ubuntu;
  border-radius: 10px;
}

.thanks-container img {
  width: 55px;
}

.thank-you {
  color: var(--MarineBlue);
  margin: 10px;
}

.thanks-container p {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: var(--CoolGray);
  font-weight: 400;
}

.next-and-back button {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.hide-next-and-back {
  display: none;
}

.next-btn {
  padding: 10px 15px;
  background-color: var(--MarineBlue);
  border: none;
  color: var(--LightGray);
  border-radius: 5px;
}

.next-btn:hover {
  opacity: 0.7;
}

.change-next-btn {
  background-color: var(--PurplishBlue);
  padding: 10px 20px;
}

.back-btn {
  border: none;
  color: var(--CoolGray);
  background: none;
}

.back-btn:hover {
  color: var(--MarineBlue);
}

.hide-back-btn {
  visibility: hidden;
}

@media screen and (min-width: 700px) {
  .next-and-back {
    width: 60%;
    right: 0;
    border-radius: 30px;
  }
}
